.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: PTSerif-Regular;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 3.5rem;
    color: darkslategray;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    /* filter: drop-shadow(1px 1px 2px #bbb3b3); */
}

.title-visible {
    opacity: 1;
}

.title-secondLine {
    text-align: center;
}

.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.75s ease-in;
}

.underline--magical-full {
    background-size: 100% 88%;
}