.screen {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--hero-bg-color);
    transition: 2s height;
    /* filter: drop-shadow(1px 1px 4px #75c5be); */
}

.hero-splitted {
    height: 35vh;
}

.content {
    height: 0%;
    background: var(--content-bg-color);
    transition: 2s height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-opened {
    height: 65vh;
}

.theme-switcher {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 0 8px 0 8px;
    bottom: 10px;
    border: solid 1px;
    border-radius: 10px;
    font-size: x-small;
}

.theme-item {
    cursor: pointer;
    transition: font-size 0.5s;
}

.theme-itemSelected {
    font-size: small;
    font-weight: bold;
}

.about-content {
    font-size: small;
}

@media screen and (min-width: 800px) {

    /* CSS styles for screens with a width of 800px or larger */
    .screen {
        flex-direction: row;
    }

    .hero-splitted {
        width: 50vw;
        height: 100vw;
    }

    .content {
        width: 0%;
        transition: 2s width;
    }

    .content-opened {
        width: 50vw;
        height: 100vh;
    }

    .hero {
        transition: 2s width;
    }

    .about-content {
        font-size: unset;
    }
}