html,
body {
  margin: 0;
  padding: 0;
  font-family: RedHatMono;
  color: darkslategray;
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('/fonts/PT_Serif/PTSerif-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RedHatMono';
  src: url('/fonts/./Red_Hat_Mono/RedHatMono-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}