html,
body {
  margin: 0;
  padding: 0;
  font-family: RedHatMono;
  color: var(--font-color);
  height: var(--doc-height);
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: 'RedHatMono';
  src: url('/fonts/./Red_Hat_Mono/RedHatMono-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.link {
  cursor: pointer;
  padding: 0.4rem;
  background-image: linear-gradient(120deg, #ac2eff 20%, #5c8efe 80%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 88%;
  transition: background-size 0.2s ease-in;
}

.link:hover {
  background-size: 100% 100%;
  color: blanchedalmond;
}

.link-active {
  background-size: 100% 100%;
  color: blanchedalmond;
}

.link-underlined {
  background-size: 100% 0.2em;
}
