.projects {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card {
  background: var(--hero-bg-color);
  border-radius: 1.5rem;
  overflow: hidden;
  height: fit-content;
  padding: 1rem;
}

.project-card-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: x-small;
}

.project-card-title {
  font-size: small;
  font-weight: bold;
}

.project-list {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.projects-title {
  font-size: small;
}

@media screen and (min-width: 800px) {
  /* CSS styles for screens with a width of 800px or larger */
  .projects {
    padding: 2rem;
  }

  .project-card-title {
    font-size: 1rem;
  }

  .project-card-description {
    font-size: small;
  }

  .projects-title {
    font-size: large;
  }

  .project-list {
    gap: 1rem;
  }
}
