.projects {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.project-card {
  background: var(--hero-bg-color);
  border-radius: 1.25rem;
  height: fit-content;
  padding: 1rem;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -1px 3px 0px inset;
}

.project-card-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: small;
  color: var(--description-text-color);
}

.project-card-title {
  font-size: small;
  font-weight: bold;
  font-family: RedHatMono;
}

.project-list {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.projects-title {
  font-family: RedHatMonoBold;
  font-size: small;
}

@media screen and (min-width: 800px) {
  /* CSS styles for screens with a width of 800px or larger */
  .projects {
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
  }

  .project-card-title {
    font-size: 1rem;
  }

  .project-card-description {
    font-size: initial;
  }

  .projects-title {
    font-size: 1.25rem;
  }

  .project-list {
    gap: 1rem;
  }
}
