.about {
    margin: 5em;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
}

.about-visible {
    opacity: 1;
}

.about-content {
    height: fit-content;
}

.about-icons {
    height: 2.5rem;
    padding-top: 1em;
    margin: 0 auto;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    white-space: nowrap;
    overflow: hidden;
}

.about-icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transition: all 0.25s;
}

.about-icon:hover {
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (min-width: 800px) {

    /* CSS styles for screens with a width of 800px or larger */

    .about-content {
        font-size: medium;
    }
}