.about {
    margin: 5em;
    height: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s all;
    display: flex;
    align-items: center;
}

.about-visible {
    height: 100%;
    white-space: pre-wrap;
}

.about-content {
    height: fit-content;
}

.about-icons {
    width: 0%;
    padding-top: 1em;
    margin: 0 auto;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    transition: all 1s;
    white-space: nowrap;
    overflow: hidden;
}

.about-iconsVisible {
    width: 100%;
}

.about-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.25s;
    /* filter: drop-shadow(1px 1px 4px #75c5be); */
}

.about-icon:hover {
    width: 45px;
    height: 45px;
}

.about-content {
    max-width: 100vw;
    max-height: 100vh;
    font-size: 13px;
}

@media screen and (min-width: 800px) {

    /* CSS styles for screens with a width of 800px or larger */

    .about-content {
        font-size: medium;
    }
}